*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
p {
  font-size: $fontMobile-body;

}
body {
  font-family: "Dosis", "Franklin Gothic Medium";
  // padding: $margin-mobile;
  margin: 0;
  background-color: $primary;
  color: white;
}

hr{
  color: white;
}