*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
p {
  font-size: $fontMobile-body;

}
body {
  font-family: "Dosis", "Franklin Gothic Medium";
  margin: $margin-mobile;
  background-color: $primary;
  color: white;
}
