$mobile-min: 767px;
$tablet-min: 768px;
$desktop-min: 1280px;

$margin-mobile:0 1.6rem;
$margin-tablet:0 3.6rem;
$margin-desktop: 0 auto;

$fontMobile-body:1.5rem;
$fontMobile-h1:2rem;

$box: 0 0 20px
  rgba(
    $color: black,
    $alpha: 20%,
  );

$mobile-pad: 1.6rem;

// $primary:#49c5b6;
$primary:#41b3a3;
$secondary: #DF6C4F;
$tertiary: #c38d9e;

