.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $fontMobile-body;
  position: fixed;
  // z-index: 1;
  &-container__logo {
    width: 6rem;
    margin-top: 1rem;
  }
  &-nav-container {
    &__list {
      display: flex;
      padding: 0;
    }
    &__link{
      text-decoration: none;
      color: white;
    }
    &__item {
      list-style-type: none;
      margin-right: 1rem;
      &:active,
      &:hover{
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: $secondary;
      }
    }
  }

  .bm-burger-button{
    color: white;
  }
}


